<style>
  .text--bold {
    font-family: 'CenturyGothic-Bold';
    text-transform: uppercase;
    display: inline-block !important;
    width: 100px !important;
  }

  .name-pw {
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 1em;

    margin: 10px !important;
  }
</style>
<div id="admin_header" data-cc-animate>
  <div class="action_link action_return note opposing-items" id="return_to_store">
    <a href="{{ routes.root_url }}">{{ 'customer.general.return' | t }}</a>
    <a href="{{ routes.account_logout_url }}">{{ 'layout.customer.log_out' | t }}</a>
  </div>
  <h2 class="title">{{ 'customer.account.title' | t }}</h2>
</div>

<div id="customer_sidebar" data-cc-animate>
  <div id="customer_detail" class="group">
    <h5 class="name">{{ customer.name }}</h5>
    <p class="email note">{{ customer.email }}</p>
    <p class="email note">
      Birthday:
      {% if customer.metafields.custom.birthday %}
        {{ customer.metafields.custom.birthday | date: '%b %d, %Y' }}
      {% elsif customer.note contains 'BIRTHDAY:' %}
        {% assign birthday_note = customer.note | split: 'BIRTHDAY:' | last | strip %}
        {{ birthday_note | date: '%b %d, %Y' }}
      {% else %}
        Not set
      {% endif %}
      <b><a href="#" onclick="showForm();">(Edit)</a></b>
    </p>
    <div id="ACCOUNT--INFORMATION--FORM" class="address note lightly-spaced-row" style="display:none">
      <label id="msgerror"></label>
      <form id="customer-update-form" method="post" action="/account">
        {{ 'customer.register.password' | t | customer_login_link }}
        <input type="hidden" name="form_type" value="customer">
        <input type="hidden" name="utf8" value="✓">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="customer[email]" value="{{ customer.email }}">
        <p class="name-pw">
          <span class="text--bold">FIRST NAME:</span>
          <input
            type="text"
            id="first_name"
            class="input-full"
            name="customer[first_name]"
            value="{{customer.first_name}}"
            autocapitalize="words"
            style="width: 210px !important;"
            required
          >
          <input type="hidden" id="id" class="input-full" name="id" value="{{customer.id}}">
        </p>
        <p class="name-pw">
          <span class="text--bold">LAST NAME:</span>
          <input
            type="text"
            id="last_name"
            class="input-full"
            name="customer[last_name]"
            value="{{customer.last_name}}"
            autocapitalize="words"
            style="width: 210px !important;"
          >
        </p>
        <p class="name-pw">
          <span class="text--bold">BIRTHDAY:&nbsp;&nbsp;</span>
          <input
            type="date"
            id="birthday"
            name="birthday"
            value="{{customer.metafields.custom.birthday}}"
            max="2022-01-01"
            style="width: 210px !important;"
          >
        </p>
        <p class="name-pw">
          <button type="submit" class="thebutton">Submit</button>
          <button type="button" class="thebutton" onclick="hideForm();">Cancel</button>
        </p>
      </form>
    </div>

    <div class="address note lightly-spaced-row">
      {% if customer.default_address != null %}
        <p>{{ customer.default_address.address1 }}</p>
        {% if customer.default_address.address2 != '' %}
          <p>{{ customer.default_address.address2 }}</p>
        {% endif %}
        <p>
          {{ customer.default_address.city }},
          {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif -%}
          {{- customer.default_address.country }}
        </p>
        <p>{{ customer.default_address.zip }}</p>
        <p class="address-phone">{{ customer.default_address.phone }}</p>
      {% endif %}
    </div>

    <a id="view_address" href="{{ routes.account_addresses_url }}">
      {{- 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a
    >
  </div>
</div>

<div id="customer_orders" data-cc-animate>
  {% paginate customer.orders by 20 %}
    {% if customer.orders.size != 0 %}
      <table class="responsive-table">
        <thead>
          <tr>
            <th class="order_number">{{ 'customer.orders.order_number' | t }}</th>
            <th class="date">{{ 'customer.orders.date' | t }}</th>
            <th class="payment_status">{{ 'customer.orders.payment_status' | t }}</th>
            <th class="fulfillment_status">{{ 'customer.orders.fulfillment_status' | t }}</th>
            <th class="total">{{ 'customer.orders.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for order in customer.orders %}
            <tr class="{% if order.cancelled %}cancelled_order{% endif %}">
              <td class="responsive-table__cell-head">
                <span class="responsive-table__cell-label">{{ 'customer.orders.order_number' | t }}</span>
                {{ order.name | link_to: order.customer_url }}
                <span class="mobile-only">- {{ order.created_at | date: format: 'month_date_year' }}</span>
                <span class="responsive-table__cell-head__icon">{% render 'svg-chevron-right' %}</span>
              </td>
              <td class="desktop-only">
                <span class="note">{{ order.created_at | date: format: 'month_date_year' }}</span>
              </td>
              <td class="responsive-table__first-mobile-cell">
                <span class="responsive-table__cell-label">{{ 'customer.orders.payment_status' | t }}</span>
                <span class="status_{{ order.financial_status }}">{{ order.financial_status_label }}</span>
              </td>
              <td>
                <span class="responsive-table__cell-label">{{ 'customer.orders.fulfillment_status' | t }}</span>
                <span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status_label }}</span>
              </td>
              <td>
                <span class="responsive-table__cell-label">{{ 'customer.orders.total' | t }}</span>
                <span class="total">
                  {%- if settings.cart_currency_code_enabled -%}
                    {{- order.total_price | money_with_currency -}}
                  {%- else -%}
                    {{- order.total_price | money -}}
                  {%- endif -%}
                </span>

                <div class="responsive-table__more">
                  <a href="{{ order.customer_url }}">{{ 'customer.orders.full_details_html' | t }}</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{{ 'customer.orders.none' | t }}</p>
    {% endif %}

    <div class="pagination-row">{% render 'pagination-control', paginate: paginate %}</div>
  {% endpaginate %}
</div>

<script>
  function showForm() {
    $('#ACCOUNT--INFORMATION--FORM').show();
  }

  function hideForm() {
    $('#ACCOUNT--INFORMATION--FORM').hide();
  }

  // Handle form submission
  $(document).ready(function () {
    $('#customer-update-form').on('submit', function (e) {
      e.preventDefault(); // Prevent default form submission

      var first_name = $('#first_name').val();
      var last_name = $('#last_name').val();
      var birthday = $('#birthday').val();

      // Validation
      if (birthday.length == 0) {
        $('#msgerror').html('<font color="red"><b>ERROR: Please fill up your birthday.</b></font>');
        return false;
      }

      if (first_name == '' || first_name == ' ') {
        $('#msgerror').html('<font color="red"><b>ERROR: First name is required!</b></font>');
        return false;
      }

      // Clear previous error messages
      $('#msgerror').html('');

      // Try the original external service
      var scriptUrl =
        'https://tkeesconnections.appspot.com/shopify/put/customer/{{ customer.id }}/0/' +
        first_name +
        '/' +
        last_name +
        '/{{ customer.email }}/' +
        birthday +
        '';
      console.log('Trying external service:', scriptUrl);

      $.ajax({
        url: scriptUrl,
        type: 'get',
        dataType: 'json',
        async: true,
        timeout: 10000, // 10 second timeout
        success: function (data) {
          console.log('External service response:', data);
          if (data[0] && data[0]['errors']) {
            console.log(data[0]['errors']['phone']);
            if (data[0]['errors']) {
              $('#msgerror').html('<font color="red"><b>ERROR: ' + data[0]['errors']['phone'] + '</b></font>');
            }
            if (data[0]['first_name']) {
              $('#msgerror').html('<font color="red"><b>ERROR: ' + data[0]['errors']['first_name'] + '</b></font>');
            }
            if (data[0]['last_name']) {
              $('#msgerror').html('<font color="red"><b>ERROR: ' + data[0]['errors']['last_name'] + '</b></font>');
            }
          } else if (data[1] && data[1]['errors']) {
            $('#msgerror').html(
              '<font color="red"><b>ERROR: You are using a wrong date format for your birthday!</b></font>'
            );
          } else {
            location.reload();
          }
        },
        error: function (xhr, status, error) {
          console.log('External service failed:', status, error);

          // If external service fails, show message to contact support
          if (status === 'error' || status === 'timeout' || xhr.status === 0) {
            console.log('External service unavailable');
            $('#msgerror').html(
              '<font color="red"><b>ERROR: Unable to update customer information at this time. Please contact support or try again later.</b></font>'
            );
          } else {
            $('#msgerror').html(
              '<font color="red"><b>ERROR: Unable to update customer information. Please try again.</b></font>'
            );
          }
        },
      });

      return false; // Prevent form submission
    });
  });
</script>
