{% liquid
  assign has_active_time = false
  if section.settings.active_time != blank or section.settings.inactive_time != blank
    assign has_active_time = true
    assign is_active = false
    assign active_time = section.settings.active_time | date: '%s'
    assign inactive_time = section.settings.inactive_time | date: '%s'
    assign now_time = 'now' | date: '%s'
    if inactive_time != blank and now_time < inactive_time
      assign is_active = true
    elsif active_time != blank and now_time > active_time
      assign is_active = true
    endif
  endif
%}

<div
  id="section-id-{{ section.id }}"
  {% if has_active_time and is_active == false %}
    style="display: none;"
  {% endif %}
  data-section-type="image-with-text-overlay"
  data-active-time="{{ active_time | date: "%Y-%m-%d %H:%M" }}"
  data-inactive-time="{{ inactive_time | date: "%Y-%m-%d %H:%M" }}"
  data-now-time="{{ "now" | date }}"
  data-is-active="{{ is_active }}"
>
  {% style %}
    {%- if section.settings.height == 'fixed' -%}
    #section-id-{{ section.id }} .fixed-height-item {
      height: {{ section.settings.height_mobile }}px;
    }
    {%- endif -%}

    #section-id-{{ section.id }} .overlay-text__title {
      font-size: {{ section.settings.title_size_mobile }}px;
      {%- if section.settings.title_size_mobile >= 90 -%}
      line-height: 1em;
      {%- endif %}
    }

    /* Mobile/Desktop heading visibility */
    #section-id-{{ section.id }} .desktop-heading {
      display: none;
    }
    #section-id-{{ section.id }} .mobile-heading {
      display: block;
    }

    {% unless section.settings.image_bg_color == 'transparent' %}
    .img-bg {
      background-color: {{ section.settings.image_bg_color }} !important;
    }
    {% endunless %}

    /* Add negative margin for header height */
    {% if section.settings.enable_header_overlap %}
    #section-id-{{ section.id }} {
      margin-top: calc(var(--header-overlap-margin) * -1);
    }
    {% endif %}

    @media (min-width: 768px) {
      {%- if section.settings.height == 'fixed' -%}
      #section-id-{{ section.id }} .fixed-height-item {
        height: {{ section.settings.height_desktop }}px;
      }
      {%- endif -%}

      #section-id-{{ section.id }} .overlay-text__title {
        {%- assign title_size_medium = section.settings.title_size | times: 0.7 | at_least: section.settings.title_size_mobile -%}
        font-size: {{ title_size_medium }}px;
        {%- if title_size_medium >= 90 -%}
        line-height: 1em;
        {%- endif %}
      }

      /* Show desktop heading, hide mobile heading at 768px and above */
      #section-id-{{ section.id }} .desktop-heading {
        display: block;
      }
      #section-id-{{ section.id }} .mobile-heading {
        display: none;
      }

      {%- if section.settings.content_horiz_adjustment > 0 -%}
      #section-id-{{ section.id }} .overlay-text__text {
        margin-left: {{ section.settings.content_horiz_adjustment }}vw;
      }
      {%- endif -%}
    }
    @media (min-width: 1100px) {
      #section-id-{{ section.id }} .overlay-text__title {
        font-size: {{ section.settings.title_size }}px;
        {%- if section.settings.title_size >= 90 -%}
        line-height: 1em;
        {%- endif %}
      }
    }

    /* Custom CSS */
    .overlay-text__inner {
      display: flex;
    }
    .overlay-text__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      {% if section.settings.button_style == 'nudes' %}
        padding-right: 10%;
        {% endif %}
    }


    .overlay-text__inner.overlay--flex-pos-start {
      justify-content: start;
    }
    .overlay-text__inner.overlay--flex-pos-center {
      justify-content: center;
    }
    .overlay-text__inner.overlay--flex-pos-end {
      justify-content: end;
    }
    .title-font {
      {% if section.settings.primary_heading_font != "theme_default" %}
        font-family: {{ section.settings.primary_heading_font }};
        {% endif %}
      font-weight: normal;
    }
    .title-cont-font {
      {% if section.settings.second_heading_font != "theme_default" %}
        font-family: {{ section.settings.second_heading_font }};
        {% endif %}
      font-weight: normal;
    }
    .black-on-white-button.button.altcolour {
      background-color: #ffffff;
      color: #000000;
      padding: 15px 30px;
      border-radius: 0;
    }
    #section-id-{{ section.id }} .overlay-text__button.white-transparent-button.button.altcolour {
      background-color: transparent !important;
      color: #ffffff !important;
      border: 1.5px solid #ffffff !important;
      border-color: #ffffff !important;
      padding: 15px 30px;
      border-radius: 0;
    }
    #section-id-{{ section.id }} .overlay-text__button.white-transparent-button.button.altcolour:hover,
    #section-id-{{ section.id }} .overlay-text__button.white-transparent-button.button.altcolour:active {
      background-color: transparent !important;
      color: #ffffff !important;
      border: 1.5px solid #ffffff !important;
      border-color: #ffffff !important;
    }
  {% endstyle %}

  {%- unless section.settings.full_width -%}
    <div class="container container--not-mobile fully-spaced-row--medium fully-spaced-row--not-mobile">
  {%- endunless -%}

  {%- liquid
    assign show_overlay_text = false
    if section.settings.title != blank or section.settings.subheading != blank or section.settings.text != blank or section.settings.button_label_1 != blank or section.settings.button_label_2 != blank
      assign show_overlay_text = true
      assign wrap_image_with_link = true
      if section.settings.image_link == blank or section.settings.text contains '</a>'
        assign wrap_image_with_link = false
      endif
    elsif section.settings.image_link != blank
      assign wrap_image_with_link = true
    endif
  -%}
  <div
    class="height--{{ section.settings.height }} image-overlay image-overlay--bg-{{ section.settings.overlay_style }} {% if section.settings.mobile_overlay_under %}overlay-text-parent--mobile-stack{% endif %}"
    data-cc-animate
    data-cc-animate-delay="0.2s"
  >
    {%- if wrap_image_with_link -%}
      <a class="image-overlay__image-link" href="{{ section.settings.image_link }}">
    {%- endif -%}

    {%- if section.settings.image == blank -%}
      <div
        class="placeholder-image placeholder--banner{% if show_overlay_text %} dark{% endif %}{% if section.settings.height == 'fixed' %} fixed-height-item{% endif %}"
        {% if section.settings.height == 'adapt' %}
          style="padding-top: 50%"
        {% endif %}
      >
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- else -%}
      <div class="rimage-background-wrapper lazyload--placeholder {% if section.settings.mobile_image != blank %}desktop-only{% endif %}">
        <div
          class="rimage-outer-wrapper rimage-background lazyload fade-in{% if section.settings.height == 'fixed' %} fixed-height-item{% endif %}"
          data-bgset="{% render 'bgset', image: section.settings.image %}"
          data-sizes="auto"
          data-parent-fit="cover"
          style="background-position: {{ section.settings.image_position }}"
        >
          {%- if section.settings.height == 'adapt' -%}
            {%- assign aspect_ratio = section.settings.image.aspect_ratio | default: 2.0 -%}
            <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: aspect_ratio | times: 100 }}%"></div>
          {%- endif -%}
          <noscript>
            <div
              class="rimage-wrapper"
              style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%"
            >
              <img
                src="{{ section.settings.image | img_url: '1024x1024' }}"
                alt="{{ section.settings.image.alt | escape }}"
                class="rimage__image"
              >
            </div>
          </noscript>
        </div>
      </div>

      {% if section.settings.mobile_image != blank %}
        <div
          class="rimage-outer-wrapper rimage-background lazyload mobile-only fade-in{% if section.settings.height == 'fixed' %} fixed-height-item{% endif %}"
          data-bgset="{% render 'bgset', image: section.settings.mobile_image %}"
          data-sizes="auto"
          data-parent-fit="cover"
          style="background-position: {{ section.settings.mobile_image_position }}"
        >
          {%- if section.settings.height == 'adapt' -%}
            {%- assign aspect_ratio = section.settings.mobile_image.aspect_ratio | default: 2.0 -%}
            <div
              class="rimage-wrapper THISONE"
              style="padding-top:{{ 1 | divided_by: aspect_ratio | times: 100 }}%"
            ></div>
          {%- endif -%}
          <noscript>
            <div
              class="rimage-wrapper"
              style="padding-top:{{ 1 | divided_by: section.settings.mobile_image.aspect_ratio | times: 100 }}%"
            >
              <img
                src="{{ section.settings.mobile_image | img_url: '1024x1024' }}"
                alt="{{ section.settings.mobile_image.alt | escape }}"
                class="rimage__image"
              >
            </div>
          </noscript>
        </div>
      {% endif %}
    {%- endif -%}

    {%- if show_overlay_text -%}
      <div class="overlay-text overlay-text--for-banner overlay--v-{{ section.settings.text_alignment | split: ' ' | first }} image-overlay__over">
        <div class="overlay-text__inner mobile-switch overlay--flex-pos-{{ section.settings.text_alignment | split: ' ' | last }}">
          <div class="overlay-text__text">
            {%- if section.settings.subheading != blank -%}
              <div class="overlay-text__subheading subheading subheading--over">
                {{ section.settings.subheading | escape }}
              </div>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
              {% if section.settings.use_h1 %}
                <h1 class="overlay-text__title title-font desktop-heading">
                  {{ section.settings.title | newline_to_br -}}
                  {%- if section.settings.title_cont != blank -%}
                    {% if section.settings.separate_heading_text %}
                      <div class="title-cont-font">{{ section.settings.title_cont }}</div>
                    {% else %}
                      <span class="title-cont-font">{{ section.settings.title_cont }}</span>
                    {% endif %}
                  {%- endif %}
                </h1>
              {% else %}
                <h2 class="overlay-text__title h1-style title-font desktop-heading">
                  {{ section.settings.title | newline_to_br }}
                  {%- if section.settings.title_cont != blank -%}
                    {% if section.settings.separate_heading_text %}
                      <div class="title-cont-font">{{ section.settings.title_cont }}</div>
                    {% else %}
                      <span class="title-cont-font">{{ section.settings.title_cont }}</span>
                    {% endif %}
                  {%- endif %}
                </h2>
              {% endif %}
            {%- endif -%}
            {%- if section.settings.title_mobile != blank -%}
              {% if section.settings.use_h1 %}
                <h1 class="overlay-text__title title-font mobile-heading">
                  {{ section.settings.title_mobile | newline_to_br -}}
                  {%- if section.settings.title_cont != blank -%}
                    {% if section.settings.separate_heading_text %}
                      <div class="title-cont-font">{{ section.settings.title_cont }}</div>
                    {% else %}
                      <span class="title-cont-font">{{ section.settings.title_cont }}</span>
                    {% endif %}
                  {%- endif %}
                </h1>
              {% else %}
                <h2 class="overlay-text__title h1-style title-font mobile-heading">
                  {{ section.settings.title_mobile | newline_to_br }}
                  {%- if section.settings.title_cont != blank -%}
                    {% if section.settings.separate_heading_text %}
                      <div class="title-cont-font">{{ section.settings.title_cont }}</div>
                    {% else %}
                      <span class="title-cont-font">{{ section.settings.title_cont }}</span>
                    {% endif %}
                  {%- endif %}
                </h2>
              {% endif %}
            {%- endif -%}
            {%- if section.settings.text != blank -%}
              <div class="overlay-text__rte rte subheading-adjust {% if section.settings.enlarge_text %}large-text{% endif %}">
                {{ section.settings.text }}
              </div>
            {%- endif -%}
            {%- if section.settings.button_label_1 != blank or section.settings.button_label_2 != blank -%}
              <div class="overlay-text__button-row ">
                {%- if wrap_image_with_link -%}
                  {%- if section.settings.button_label_1 != blank -%}
                    <span class="overlay-text__button button altcolour">
                      {{- section.settings.button_label_1 -}}
                    </span>
                  {%- endif -%}
                  {%- if section.settings.button_label_2 != blank -%}
                    <span class="overlay-text__button button altcolour">{{ section.settings.button_label_2 }}</span>
                  {%- endif -%}
                {%- else -%}
                  {%- if section.settings.button_label_1 != blank -%}
                    <a
                      class="overlay-text__button button altcolour {% if section.settings.button_style == 'nudes' %}nudes-button{% elsif section.settings.button_style == 'eos24' %}eos24-button{% elsif section.settings.button_style == 'black_on_white' %}black-on-white-button{% elsif section.settings.button_style == 'white_transparent' %}white-transparent-button{% endif %}"
                      href="{{ section.settings.button_url_1 }}"
                    >
                      {{- section.settings.button_label_1 -}}
                    </a>
                  {%- endif -%}
                  {%- if section.settings.button_label_2 != blank -%}
                    <a class="overlay-text__button button altcolour" href="{{ section.settings.button_url_2 }}">
                      {{- section.settings.button_label_2 -}}
                    </a>
                  {%- endif -%}
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if wrap_image_with_link -%}
      </a>
    {%- endif -%}
  </div>

  {%- unless section.settings.full_width -%}</div>{%- endunless -%}
</div>

{% assign square_check = section.settings.title | downcase %}
{% assign square_check_mobile = section.settings.title_mobile | downcase %}
{% if square_check == 'square toe' or square_check_mobile == 'square toe' %}
  {% assign is_square_toe = true %}
{% endif %}
{% if is_square_toe %}
  {% style %}
    #section-id-{{ section.id }} .overlay-text__title,
    #section-id-{{ section.id }} .subheading-adjust {
      color: black;
    }
    #section-id-{{ section.id }} .overlay-text__title {
      letter-spacing: 1.5px;
    }
    #section-id-{{ section.id }} .overlay-text__text {
      margin-right: 3%;
    }
    #section-id-{{ section.id }} .overlay-text__rte {
      max-width: 20ch;
    }
    #section-id-{{ section.id }} .overlay-text__rte h2 {
      font-size: 12px !important;
    }
    #section-id-{{ section.id }} .overlay-text__button-row {
      margin-top: -20px;
    }
    #section-id-{{ section.id }} a.button {
      background-color: #8e847a; /* border-radius: 2px; */
      border-radius: 0;
    }
    @media (max-width: 990px) {
      #section-id-{{ section.id }} .overlay-text__text {
        margin-right: 0%;
        margin-bottom: -30px;
      }
      #section-id-{{ section.id }} .overlay-text__button-row {
        margin-top: -50px;
      }
      #section-id-{{ section.id }} .overlay-text__title {
        font-size: 36px;
      }
      #section-id-{{ section.id }} .overlay-text__rte {
        max-width: 27ch;
      }
      #section-id-{{ section.id }} .overlay-text__rte h2 {
        font-size: 15px;
      }
      #section-id-{{ section.id }} .overlay-text__inner {
        padding-right: 5px;
      }
    }
  {% endstyle %}
{% endif %}

{% schema %}
{
  "name": "Image with text (Custom)",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "2048 x 1024px recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "1024px x 1024px recommended"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image alignment",
      "info": "Used to keep the subject of your image in view",
      "default": "center center",
      "options": [
        {
          "value": "top left",
          "label": "Top left"
        },
        {
          "value": "top center",
          "label": "Top center"
        },
        {
          "value": "top right",
          "label": "Top right"
        },
        {
          "value": "center left",
          "label": "Middle left"
        },
        {
          "value": "center center",
          "label": "Middle center"
        },
        {
          "value": "center right",
          "label": "Middle right"
        },
        {
          "value": "bottom left",
          "label": "Bottom left"
        },
        {
          "value": "bottom center",
          "label": "Bottom center"
        },
        {
          "value": "bottom right",
          "label": "Bottom right"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_image_position",
      "label": "Mobile image alignment",
      "options": [
        {
          "value": "left top",
          "label": "Top left"
        },
        {
          "value": "center top",
          "label": "Top center"
        },
        {
          "value": "right top",
          "label": "Top right"
        },
        {
          "value": "left center",
          "label": "Middle left"
        },
        {
          "value": "center center",
          "label": "Middle center"
        },
        {
          "value": "right center",
          "label": "Middle right"
        },
        {
          "value": "left bottom",
          "label": "Bottom left"
        },
        {
          "value": "center bottom",
          "label": "Bottom center"
        },
        {
          "value": "right bottom",
          "label": "Bottom right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "radio",
      "id": "height",
      "label": "Image height",
      "options": [
        {
          "value": "adapt",
          "label": "Natural"
        },
        {
          "value": "full",
          "label": "Full screen"
        },
        {
          "value": "fixed",
          "label": "Fixed height"
        }
      ],
      "default": "fixed"
    },
    {
      "type": "range",
      "id": "height_desktop",
      "min": 200,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "label": "Desktop fixed height",
      "default": 600
    },
    {
      "type": "range",
      "id": "height_mobile",
      "min": 100,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "label": "Mobile fixed height",
      "default": 460
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "Image link",
      "info": "Not used if buttons or text contain links"
    },
    {
      "type": "header",
      "content": "Text area"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Pre-heading",
      "default": "<p>Tell your story</p>"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Heading (Desktop)",
      "default": "Two line\ntext heading",
      "info": "Visible on screens 768px and wider"
    },
    {
      "type": "textarea",
      "id": "title_mobile",
      "label": "Heading (Mobile)",
      "info": "Visible on screens below 768px. Supports newlines and <br> tags"
    },
    {
      "type": "select",
      "id": "primary_heading_font",
      "label": "Font for Heading",
      "options": [
        {
          "value": "theme_default",
          "label": "Theme Default"
        },
        {
          "value": "Bebas Neue",
          "label": "Bebas Neue"
        },
        {
          "value": "Snell Roundhand",
          "label": "Snell Roundhand"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "title_cont",
      "label": "Heading (continued)",
      "default": "More Heading",
      "info": "For separating fonts on heading elements"
    },
    {
      "type": "checkbox",
      "id": "separate_heading_text",
      "label": "Separate to new line",
      "info": "Place Heading (continued) text on a new line below first text",
      "default": false
    },
    {
      "type": "select",
      "id": "second_heading_font",
      "label": "Font for Heading (cont.)",
      "options": [
        {
          "value": "theme_default",
          "label": "Theme Default"
        },
        {
          "value": "Bebas Neue",
          "label": "Bebas Neue"
        },
        {
          "value": "Snell Roundhand",
          "label": "Snell Roundhand"
        }
      ],
      "default": "theme_default"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 20,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Desktop heading text size",
      "default": 84
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 20,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Mobile heading text size",
      "default": 46
    },
    {
      "type": "checkbox",
      "id": "use_h1",
      "label": "Set as primary page heading",
      "info": "Use <h1> tag. One per page recommended. [Read more](https://cleancanvas.co.uk/support/symmetry/section-h1-setting)",
      "default": false
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>And optional subtext</p>"
    },
    {
      "type": "checkbox",
      "id": "enlarge_text",
      "label": "Enlarge text",
      "default": true
    },
    {
      "type": "text",
      "id": "button_label_1",
      "label": "Button 1 label",
      "default": "Shop this"
    },
    {
      "type": "url",
      "id": "button_url_1",
      "label": "Button 1 link"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": "Button 2 label",
      "default": "Shop all"
    },
    {
      "type": "url",
      "id": "button_url_2",
      "label": "Button 2 link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "default",
          "label": "default"
        },
        {
          "value": "black_on_white",
          "label": "Black on white"
        },
        {
          "value": "nudes",
          "label": "nudes"
        },
        {
          "value": "eos24",
          "label": "EOS 24"
        },
        {
          "value": "white_transparent",
          "label": "White transparent"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text overlay position",
      "options": [
        {
          "value": "top start",
          "label": "Top left"
        },
        {
          "value": "top center",
          "label": "Top center"
        },
        {
          "value": "top end",
          "label": "Top right"
        },
        {
          "value": "center start",
          "label": "Middle left"
        },
        {
          "value": "center center",
          "label": "Middle center"
        },
        {
          "value": "center end",
          "label": "Middle right"
        },
        {
          "value": "bottom start",
          "label": "Bottom left"
        },
        {
          "value": "bottom center",
          "label": "Bottom center"
        },
        {
          "value": "bottom end",
          "label": "Bottom right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "text_justification",
      "label": "Text justification",
      "options": [
        {
          "value": "no_change",
          "label": "No change"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "no_change"
    },
    {
      "type": "range",
      "id": "content_horiz_adjustment",
      "label": "Content Horiz Adjustment",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "vw",
      "info": "Adds left margin to content on desktop only",
      "default": 0
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "id": "full_width",
      "type": "checkbox",
      "label": "Full page width",
      "default": true
    },
    {
      "id": "mobile_overlay_under",
      "type": "checkbox",
      "label": "Show text below image on mobile",
      "default": false
    },
    {
      "id": "overlay_style",
      "type": "select",
      "label": "Overlay style",
      "default": "shadow",
      "options": [
        {
          "value": "full",
          "label": "Tint"
        },
        {
          "value": "box",
          "label": "Box"
        },
        {
          "value": "shadow",
          "label": "Text shadow"
        },
        {
          "value": "full image-overlay--bg-shadow",
          "label": "Text shadow and tint"
        },
        {
          "value": "no_background",
          "label": "No background"
        }
      ]
    },
    {
      "type": "text",
      "id": "active_time",
      "label": "Display on or after:",
      "info": "Use 'YYYY-MM-DD HH:MM' format.  Leave blank for always active."
    },
    {
      "type": "text",
      "id": "inactive_time",
      "label": "Display until:",
      "info": "Use 'YYYY-MM-DD HH:MM' format.  Leave blank for always active."
    },
    {
      "type": "checkbox",
      "id": "enable_header_overlap",
      "label": "Enable header overlap",
      "info": "Adds negative margin to overlap with the header",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay (custom)",
      "settings": {}
    }
  ]
}
{% endschema %}
